<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>로그인 중... 잠시 기다려 주세요</h2>
  <script>
    const params = new URLSearchParams(window.location.search);
    const access = params.get("access");
    const refresh = params.get("refresh");

    if (access && refresh) {
      localStorage.setItem("access_token", access);
      localStorage.setItem("refresh_token", refresh);
      window.location.href = "http://127.0.0.1:8000/";
    } else {
      alert("로그인 실패. 다시 시도해 주세요.");
    }
  </script>
</body>

</html>